<!DOCTYPE html>
<html lang="es-ES">

<head>
    <!--Propiedades-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ecuador Actíva</title>
    <base href="/" target="_self">
    <link rel="icon" type="image/jpeg" href="../general/imagenes/icono.ico" />
    <!--Metadatos-->
    <meta itemprop="name" content="República del Salvador Activa">
    <meta itemprop="description" content="Descuentos para toda clase de cosas">
    <meta itemprop="image" content="../general/imagenes/logotipo.jpeg" />
    <meta property="og:title" content="República del Salvador actíva" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="../general/imagenes/logotipo.jpeg" />
    <meta property="og:image:width" content="2128" />
    <meta property="og:image:height" content="1743" />
    <meta property="og:site_name" content="Republica del Salvador Activa, i.e. Moz" />
    <meta property="article:published_time" content="2017-06-26T05:59:00+01:00" />
    <meta property="article:modified_time" content="2017-06-26T05:59:00+01:00" />
    <meta property="article:tag" content="descuentos" />
    <!--Bootstraps-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <!--Scripts propios-->
    <script src="../general/codigo.js"></script>
    <!--SweetAlert-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.2/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.2/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.2/sweetalert2.min.css">
    <!--EmailJS-->
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript">(function () { emailjs.init("user_cAAuKh7iKAYJ9IN6c9hs6"); })();</script>
    <!--Custom imput-->
    <!--<script src="../general/custominputfile.min-es.js"></script> 
        <link rel="stylesheet" href="../general/estilos/custominputfile.min.css"  type="text/css" />-->
    <!--Estilos propios-->
    <link rel="stylesheet" href="../general/estilos/iconos.css">
    <style>
        @font-face {
            font-family: 'Bebas Neue';
            font-style: normal;
            font-weight: normal;
            src: local('Bebas Neue'), url('../general/fuentes/bebas.woff') format('woff');
        }
    </style>
    <link rel="stylesheet" href="../general/estilos/bootstrap.css">
    <link rel="stylesheet" href="../general/estilos/estilos.css">
    <link rel="stylesheet" href="../general/estilos/responsivo.css">
</head>
<body>
        <nav class="navbar navbar-fixed-top navbar-expand-lg nav-negro" style="background-color:black">
        <a href="/"><img src="../general/imagenes/brand.png" alt="Brand" style="margin-top:-25px;" width="auto"></a>
        <div class="" >
            {{#if user}}
            <div style="width:100%;" class="centrado">
                <div style="margin:4px">
                    <h5 class="blanco">BIENVENIDO</h5>
                    <p class="blanco centrado">{{user.nombre}}</p>
                    <p id="codigo-usuario" style="display:none">{{user.codigo}}</p>
                </div>              
            </div>               
            {{else}}
            <div class="centrado" style="width:140px;">
                <h5 class="blanco">SIGUENOS EN</h5>
                <div class="" style="border:solid 1px;border-color:white;margin-left:5%">
                    <span >
                        <a href="http://www.fb.com/RepublicaDeElSalvadorActiva" >
                            <i class="zmdi zmdi-facebook-box blanco zmdi-hc-lg"></i>
                        </a>
                    </span>
                    <span>
                        <a href="https://www.instagram.com/republicadelsalvadoractiva/">
                            <i class="zmdi zmdi-instagram blanco zmdi-hc-lg"></i>
                        </a>
                    </span>
                </div>
            </div>
            {{/if}}
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <div style="padding-top:10px">
                {{#if user}}
                    
                    {{#if user.escliente}}
                    <a href="/cliente/activar"><button class="btn btn-outline-warning">Asociar nueva tarjeta</button></a>
                        <a href="/neutral/"><button class="btn btn-outline-warning">Mi cuenta</button></a>
                    {{else}}
                        <a href="/neutral/"><button class="btn btn-outline-warning">Panel de control</button></a>
                        {{#if user.esvendedor}}
                            <p style="display:none" id="refer">{{user.referido}}</p>
                            <a href="/vendedor/asociar/" id="asociar_id"><button class="btn btn-outline-warning">Asociar Vendedor</button></a>
                            <a href="/vendedor/repo-ventas/"><button class="btn btn-outline-warning">Reporte de ventas</button></a>
                        {{/if}}
                    {{/if}}
                    <a href="/users/password"><button class="btn btn-outline-primary">Cambiar contraseña</button></a>
                    <a href="/users/logout"><button class="btn btn-outline-light">Cerrar sesión</button></a>
                {{else}}
                    <form class="navbar-form navbar-left" action="/users/login" method="post">
                        <div class="row">
                        <div class="col-lg-9 col-md-9">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 centrado" style="margin-bottom:4px">
                                    <input type="email" name="username" class="form-control" placeholder="Correo electrónico" required>
                                </div>
                                <div class="col-lg-6 col-md-6" style="margin-bottom:4px">
                                    <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
                                    <a class="blanco " href="/users/confirmar">¿Confirmar tu cuenta?</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3" style="margin-bottom:4px">
                            <button type="submit" class="btn btn-primary" style="width:100%">INICIAR SESIÓN</button>
                            <a href="/users/olvido" class="blanco">¿Olvidaste tu contraseña?</a>
                        </div>
                        </div>
                    </form>
                {{/if}}
            </div>
        </div>
    </nav>
    <div id="contendedor-general" >
        <div style="min-height:70%;">
            <div class="fullscreen-bg">
                <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
                    <source src="../general/fondo.mp4" type='video/ogg; codecs="theora,vorbis"' />
                    <source src="../general/fondo.mp4" type='video/webm; codecs="vp8,vorbis"' />
                </video>
            </div>
            <div class="content"  >
                {{{body}}}
            </div>
        </div>
    </div>
    <footer class="footer-bs centrado">
        <div class="row">
            <div class="col-lg-4">
                {{#if user}}
                Síguenos
                    <span >
                        <a href="http://www.fb.com/RepublicaDeElSalvadorActiva" >
                            <i class="zmdi zmdi-facebook-box blanco zmdi-hc-lg"></i>
                        </a>
                    </span>
                    <span>
                        <a href="https://www.instagram.com/republicadelsalvadoractiva/">
                            <i class="zmdi zmdi-instagram blanco zmdi-hc-lg"></i>
                        </a>
                    </span>
                {{/if}}
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4"><a href="/contactos" class="blanco">Quiero registrar mi establecimiento</a></div>
                    <div class="col-lg-4"><a href="/contactos" class="blanco">Contacto</a></div>
                    <div class="col-lg-4"><a href="/nosotros" class="blanco">Nosotros</a></div>
                </div>
            </div>
        </div>
    </footer>
    <script>
    window.addEventListener('load', ()=>{
        var ref=document.getElementById('refer').innerText;
        if(ref!='Ninguno')
            document.getElementById('asociar_id').style.display='none'
    })
</script>

</body>
</html>