<!DOCTYPE html>
<html lang="es">

<head>
    <!--Propiedades-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ecuador Actíva</title>
    <base href="/" target="_self">
    <link rel="icon" type="image/jpeg" href="../general/imagenes/icono.ico" />
    <!--Metadatos-->
    <meta itemprop="name" content="República del Salvador Activa">
    <meta itemprop="description" content="Descuentos para toda clase de cosas">
    <meta itemprop="image" content="../general/imagenes/logotipo.jpeg" />
    <meta property="og:title" content="República del Salvador actíva" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="../general/imagenes/logotipo.jpeg" />
    <meta property="og:image:width" content="2128" />
    <meta property="og:image:height" content="1743" />
    <meta property="og:site_name" content="Republica del Salvador Activa, i.e. Moz" />
    <meta property="article:tag" content="descuentos" />
    <!--Bootstraps-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <!--Scripts propios-->
    <script src="../general/codigo.js"></script>
    <!--SweetAlert-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.2/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.2/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.2/sweetalert2.min.css">
    <!--EmailJS-->
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript">(function () { emailjs.init("user_cAAuKh7iKAYJ9IN6c9hs6"); })();</script>
    <!--Custom imput-->
    <!--<script src="../general/custominputfile.min-es.js"></script> 
        <link rel="stylesheet" href="../general/estilos/custominputfile.min.css"  type="text/css" />-->
    <!--Estilos propios-->
    <link rel="stylesheet" href="../general/estilos/iconos.css">
    <style>
        @font-face {
            font-family: 'Bebas Neue';
            font-style: normal;
            font-weight: normal;
            src: local('Bebas Neue'), url('../general/fuentes/bebas.woff') format('woff');
        }

        @font-face {
            font-family: Cordia New;
            font-style: normal;
            font-weight: normal;
            src: url(../general/fuentes/cordia_0.ttf);
        }

        @font-face {
            font-family: Calibri cuerpo;
            font-style: normal;
            font-weight: normal;
            src: url(../general/fuentes/Calibri.ttf);
        }
    </style>
    <link rel="stylesheet" href="../general/estilos/bootstrap.css">
    <link rel="stylesheet" href="../general/estilos/estilos.css">
    <script src="../general/tableExport.js"></script>
    <script src="../general/jquery.base64.js"></script>
</head>

<body>
    <nav class="navbar navbar-fixed-top navbar-expand-lg nav-negro" style="background-color:black">
        <a href="/">
            <img src="../general/imagenes/brand.png" alt="Brand" class="img-responsive" style="margin-top:-25px;" width="150px">
        </a>
        <div id="bienvenida0" class="blanco centrado" style="padding-left:4px; padding-right:4px">
            {{#if user}}
            <h6>BIENVENIDO</h6>
            <h5>{{user.nombre}}</h5>
            <p id="codigo-usuario" style="display:none">{{user.codigo}}</p>
            {{/if}}
        </div>
        <div class="" id="redes_sociales">
            <div class="centrado" style="width:100%;">
                <h5 class="blanco cordia">Síguenos en</h5>
                <div style="margin-left:5%; margin-top:-12px">
                    <span>
                        <a href="http://www.fb.com/RepublicaDeElSalvadorActiva">
                            <i class="zmdi zmdi-facebook-box blanco zmdi-hc-2x"></i>
                        </a>
                    </span>
                    <span>
                        <a target="_blank" href="https://www.instagram.com/republicadeelsalvadoractiva/">
                            <i class="zmdi zmdi-instagram blanco zmdi-hc-2x"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse calibri" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto blanco" id="espaciado" style="margin:0 auto">
                <div style="margin: 0 auto; text-align:center; width:100%" id="banner-titulo">
                    <div id="tit_general">
                        
                    </div>
                    <div id="cabecera_cliente">
                        <div class="row">
                            {{#if user.escliente}}
                            <div class="col-lg-6 col-md-6 colsm-6 col-xs-6">   
                                <div id="sel_trj0">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <i class="zmdi zmdi-info " id="estado_local" style="display:none; position:absolute"></i>
                                            <img src="" id="img_trj" width="100%" alt="" class="borde-redondo imagen_trj_elec">
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" >
                                            <select required name="tarjeta" onchange="actualizar_img(this.value);presentar_locales($(this).find('option:selected').text())" id="elecc_trj" style="width:100%" aria-placeholder="Tipo de tarjeta">
                                                <option value="NA" onclick="presentar_locales(this.innerHTML)">Seleccionar tarjeta</option>
                                                {{#if tarjetas}} {{#each tarjetas}}
                                                <option onclick="presentar_locales(this.innerHTML)" value="{{this.imagen}}">{{this.numero}}</option>
                                                {{/each}} {{/if}}
                                            </select>
                                            <p class="blanco" id="Rvencimiento" style="display:none">Esta tarjete vence en:
                                                <b id="vencimiento"></b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 colsm-6 col-xs-6" id="bienvenida">
                                <div id="bienvenida1" style="margin-top:20px">
                                    {{#if user}}
                                    <h6>BIENVENIDO</h6>
                                    <h5>{{user.nombre}}</h5>
                                    <p id="codigo-usuario" style="display:none">{{user.codigo}}</p>
                                    {{/if}}
                                </div>
                                <div id="sel_trj1" style="padding-top:30px">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                                            <i class="zmdi zmdi-info zmdi-hc-2x" id="estado_local1" style="display:none; position:absolute"></i>
                                            <img src="" id="img_trj1" width="100%" alt="" class="borde-redondo">
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding-top:20px">
                                            <select required name="tarjeta" onchange="actualizar_img(this.value);presentar_locales($(this).find('option:selected').text())" id="elecc_trj" style="width:100%" aria-placeholder="Tipo de tarjeta">
                                                <option value="NA" onclick="presentar_locales(this.innerHTML)">Seleccionar tarjeta</option>
                                                {{#if tarjetas}} {{#each tarjetas}}
                                                <option onclick="presentar_locales(this.innerHTML)" value="{{this.imagen}}">{{this.numero}}</option>
                                                {{/each}} {{/if}}
                                            </select>
                                            <p class="blanco" id="Rvencimiento1" style="display:none">Esta tarjete vence en:
                                                <b id="vencimiento1"></b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                        </div>

                    </div>
                </div>
            </div>
            <div style="padding-top:10px; text-align:center">
                {{#if user}} {{#if user.escliente}}
                <a href="/cliente/activar">
                    <button class="btn btn-warning nwarning">Asociar nueva tarjeta</button>
                </a>
                <a href="/neutral/">
                    <button class="btn btn-warning nwarning">Cuenta</button>
                </a>
                {{else}}
                <a href="/neutral/">
                    <button class="btn btn-warning nwarning">Panel</button>
                </a>
                {{#if user.eslocal}}
                <a href="local/activaciones/">
                    <button class="btn btn-warning nwarning">Reportes</button>
                </a>
                {{/if}}
                {{#if user.esvendedor}}
                <p style="display:none" id="refer">{{user.referido}}</p>
                <a href="/vendedor/asociar/" id="asociar_id">
                    <button class="btn btn-warning nwarning">Asociar Vendedor</button>
                </a>
                <a href="/vendedor/repo-ventas/">
                    <button class="btn btn-warning nwarning">Reportes</button>
                </a>
                {{/if}} {{/if}}
                <a href="/users/password" title="Cambiar contraseña">
                    <button class="btn btn-primary nprimary">
                        Contraseña
                    </button>
                </a>
                <a href="/users/logout" class="blanco">
                    <button class="btn btn-light nligth">
                        Cerrar
                    </button>
                </a>
                {{else}}
                <form class="navbar-form navbar-left cordia" action="/users/login" method="post">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 centrado" style="margin-bottom:4px">
                                    <input type="email" name="username" class="form-control form-control-size" placeholder="Correo electrónico" required>
                                </div>
                                <div class="col-lg-6 col-md-6" style="margin-bottom:4px">
                                    <input type="password" name="password" class="form-control form-control-size"  placeholder="Contraseña" required>
                                    <!--<a class="blanco form-control-size" href="/users/confirmar">¿Confirmar tu cuenta?</a>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4" style="margin-bottom:4px">
                            <button type="submit" class="btn btn-primary nprimary" style="width:100%">INICIAR SESIÓN</button>
                            <a href="/users/olvido" class="blanco form-control-size">¿Olvidaste tu contraseña?</a>
                        </div>
                    </div>
                </form>
                {{/if}}
            </div>
        </div>
    </nav>
    <div id="contendedor-general">
        <div style="min-height:70%;">
            <div class="fullscreen-bg">
                <video loop muted autoplay poster="general/imagenes/fondo.png" class="fullscreen-bg__video">
                    <source src="../general/fondo.mp4" type='video/ogg; codecs="theora,vorbis"' />
                    <source src="../general/fondo.mp4" type='video/webm; codecs="vp8,vorbis"' />
                </video>
            </div>
            <div class="content">
                {{{body}}}
            </div>
        </div>
    </div>
    <footer class="footer-bs centrado">
        <div class="row">
            <div class="col-lg-4">
                {{#if user}} Síguenos
                <span>
                    <a href="http://www.fb.com/RepublicaDeElSalvadorActiva">
                        <i class="zmdi zmdi-facebook-box blanco zmdi-hc-lg"></i>
                    </a>
                </span>
                <span>
                    <a href="https://www.instagram.com/republicadelsalvadoractiva/">
                        <i class="zmdi zmdi-instagram blanco zmdi-hc-lg"></i>
                    </a>
                </span>
                {{/if}}
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4">
                        <a href="mailto:info@ecuadoractiva.com" class="blanco">Quiero registrar mi establecimiento</a>
                    </div>
                    <div class="col-lg-4">
                        <a href="/contactos" class="blanco">Contacto</a>
                    </div>
                    <div class="col-lg-4">
                        <a href="/nosotros" class="blanco">Nosotros</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        (function (){
            var direccion = window.location.pathname
            if (direccion != '/cliente/perfil') {
                document.getElementById('tit_general').style.display = 'none'
                document.getElementById('bienvenida0').style.display = 'block'
                document.getElementById('cabecera_cliente').style.display = 'none'
            }
        })()
    </script>
    
    
</body>

</html>