<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>República del Salvador Actíva</title>
    <meta name="author" content="Juan Cúñez">
    <meta name="keywords" content="">
    <meta itemprop="name" content="República del Salvador Activa">
    <meta itemprop="description" content="Descuentos para toda clase de cosas">
    <meta itemprop="image" content="../general/imagenes/logotipo.jpeg" />
    <meta property="og:title" content="República del Salvador actíva" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://.com/" />
    <meta property="og:image" content="../general/imagenes/logotipo.jpeg" />
    <meta property="og:image:width" content="2128" />
    <meta property="og:image:height" content="1743" />
    <meta property="og:site_name" content="Republica del Salvador Activa, i.e. Moz" />
    <meta property="article:published_time" content="2017-06-26T05:59:00+01:00" />
    <meta property="article:modified_time" content="2017-06-26T05:59:00+01:00" />
    <meta property="article:tag" content="descuentos" />
    <base href="/" target="_self">
    <link rel="icon" type="image/jpeg" href="../general/imagenes/logotipo.jpeg" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../general/estilos/estilos.css">
    <link rel="stylesheet" href="../general/estilos/bootstrap.css">
    <script src="../general/scripts/codigo.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.2/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.2/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.2/sweetalert2.min.css">
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init("user_cAAuKh7iKAYJ9IN6c9hs6");
        })();
    </script>
</head>

<body id="body">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <div class="my-2 my-lg-0">
                <ul class="nav navbar-nav navbar-right">
                    {{#if user}}
                    <li>
                        <a class="nav-link" href="/users/logout">Cerrar sesión</a>
                    </li>
                    {{else}}
                    <li>
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/users/registro">Registrar</a>
                    </li>
                    {{/if}} {{#if user.esadministrador}}
                    <li>
                        <a class="nav-link" href="/admin/">Administrar</a>
                    </li>
                    {{else}} {{#if user.eslocal}}
                    <li>
                        <a class="nav-link" href="/local/">Vender</a>
                    </li>
                    {{else}} {{#if user.esvendedor}}
                    <li>
                        <a class="nav-link" href="/vendedor/">Vender</a>
                    </li>
                    {{else}}
                    <li>
                        <a class="nav-link" href="/cliente/comprado">He comprado</a>
                    </li>
                    {{/if}} {{/if}} {{/if}}
                    <li>
                        <a class="nav-link" href="/index/acerca">Acerca de</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="contenido general sobre-footer alert">
        {{{body}}}
    </div>
    <footer class="fixed-bottom blanco bg-dark margenes">
        <div class="centrado">
            <h6>República del Salvador Actíva</h6>
            <p>2017</p>
        </div>
    </footer>

</body>

</html>