<link rel="stylesheet" href="../especifico/estilos/perfil.css">
<div class="comprado">
    <ul class="nav nav-tabs ">
        <li class="nav-item">
            <a class="nav-link " href="/cliente/comprado">He comprado</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/cliente/perfil">Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/password">Cambiar contraseña</a>
        </li>
    </ul>
    <div class="row comprado">
        <div class="col-lg-8 col-md-7 ">
            <h2 class="centrado">Perfil</h2>
            <div class="alert alert-success" role="alert">
                <button data-toggle="collapse" href="#activos" aria-expanded="false" aria-controls="activos" type="button" class="btn btn-success"
                    aria-label="Left Align">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                </button> Mis tarjetas activas (<b id="num_act"></b>)
            </div>
            <div class="collapse multi-collapse" id="activos">
                <div class="card card-body">
                    {{#if activas}} {{#each activas}}
                    <div class="alert alert-secondary trj_activas" role="alert">
                        <div class="row">
                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-5">
                                <button id="{{this.numero}}" onclick="detallar_trj(this.id)" type="button" class="btn btn-info" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-lg-10 col-md-8 col-sm-8 col-xs-7">
                                <h3>Tarjeta : #
                                    <i> {{this.numero}} </i>
                                </h3>
                            </div>
                        </div>
                    </div>
                    {{/each}} {{/if}}

                </div>
            </div>
            <div class="alert alert-warning" role="alert">
                <button data-toggle="collapse" href="#finalizados" aria-expanded="false" aria-controls="multiCollapseExample1" type="button"
                    class="btn btn-warning" aria-label="Left Align">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                </button>
                Mis tarjetas finalizadas (<b id="num_fin"></b>)
            </div>
            <div class="collapse multi-collapse" id="finalizados">
                <div class="card card-body">
                    <div class="alert alert-secondary" role="alert">
                        {{#if finalizadas}} {{#each finalizadas}}
                        <div class="alert alert-secondary trj_fin" role="alert">
                            <div class="row">
                                <div class="col-lg-1 col-md-2 col-sm-6">
                                    <button id="{{this.numero}}" onclick="detallar_trj(this.id)" type="button"  class="btn btn-info" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="col-lg-1 col-md-2 col-sm-6">
                                    <button type="button" onclick="renovar()" class="btn btn-primary" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="col-lg-8 col-md-6 col-sm-6">
                                    <h3>Tarjeta : #
                                        <i> {{this.numero}} </i>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        {{/each}} {{/if}}

                    </div>
                </div>
            </div>
            <div class="alert alert-danger" role="alert">
                <button data-toggle="collapse" href="#caducados" aria-expanded="false" aria-controls="caducados" type="button" class="btn btn-danger"
                    aria-label="Left Align">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                </button>
                Mis tarjetas caducadas (<b id="num_cad"></b>)
            </div>
            <div class="collapse multi-collapse" id="caducados">
                <div class="card card-body">
                    {{#if caducadas}} {{#each caducadas}}
                    <div class="alert alert-secondary trj_cad" role="alert">
                        <div class="row">
                            <div class="col-lg-1 col-md-2 col-sm-6">
                                <button id="{{this.numero}}" onclick="detallar_trj(this.id)" type="button" class="btn btn-info" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-lg-1 col-md-2 col-sm-6">
                                <button type="button" onclick="renovar()" class="btn btn-primary" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-lg-8 col-md-6 col-sm-6">
                                <h3>Tarjeta: #
                                    <i> {{this.numero}} </i>
                                </h3>
                            </div>
                        </div>
                    </div>
                {{/each}} {{/if}}
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <h2 class="centrado">Notificaciones</h2>
        <div class="alert alert-warning" role="alert">
            <button data-toggle="collapse" href="#notificaciones" aria-expanded="false" aria-controls="notificaciones" type="button"
                class="btn btn-warning" aria-label="Left Align">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button> Detalles
        </div>
        <div class="collapse multi-collapse" id="notificaciones">
            <div class="card card-body">
                <div class="alert alert-secondary" role="alert">
                    {{#if notificaciones}} {{#each notificaciones}}
                    <div class="alert alert-warning" role="alert">
                        El día {{this.fecha}} a las {{this.hora}} se ha hecho uso de la tarjeta {{this.numero}} en el local "{{this.local}}"
                    </div>
                    {{/each}} {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="../especifico/scripts/index.js"></script>
<script>
    window.addEventListener('load',conteoTarj)
</script>

<div id="detalle-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tarjeta # <b id="txtnum"></b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="centrado">Válido desde: <i id="txt-desde"></i></p>
        <p class="centrado">Válido hasta: <i id="txt-hasta"></i></p>
        <strong ><h3>Locales:</h3></strong>
        <table class="table" id="tabla_locales">
            <th>
                <td>Local</td>
                <td>Estado</td>
            </th>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>