<style>
    body{
       background: -webkit-linear-gradient(black, #00ccff);
        background: -moz-linear-gradient(black, #00ccff);
        background: -o-linear-gradient(black, #00ccff);
   }
   #local-desc{
        background: rgba(67, 140, 196, 0.4);
   }
   .fondo-locales{
       background: rgba(39, 75, 100, 0.4);
   }
   #info:hover {
        background-color: white;
    }
</style>
<link rel="stylesheet" href="../especifico/estilos/index.css">
<div style="margin:12px">
    <div style="display:none">
        <p id="fecha_inic">{{inicial}}</p>
        <p id="fecha_fin">{{final}}</p>
    </div>

    <h1 class="centrado blanco" name="detalles-importantes">LOCALES COMERCIALES</h1><br><br>
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-1"></div>
        <div class="col-lg-6 col-md-8 col-sm-10" id="tarjeta-img">
            <img src="{{tarjeta}}" alt="" class="img-thumbnail" width="100%">
        </div>
        <div class="col-lg-6 col-md-8 col-sm-10 borde-redondo" id="local-desc" style="border-style: solid; border-width: 1px; padding:6px;border-color:white">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-1"></div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-10">
                    <img src="" id="benef-local-img" class="borde-redondo" alt=""  width="100%" style="margin:0 auto">
                </div>
            </div>
            <h2 class="centrado blanco" style="margin-top:12px" id="nombre-local"></h2>
            <div class="row">
                <div class="col-lg-7 col-md-6 ">
                    <div style="margin:6px">
                        <p class="blanco"><i><b>Beneficios: </b></i><i id="beneficio-local"> </i></p>
                        <p class="blanco"><i><b>Datos adicionales: </b> </i><i id="adicionales-local"></i> </p>
                        <p class="blanco"><i><b>Válido desde: </b> </i><i id="valido-desde"></i> </p>
                        <p class="blanco"><i><b>Válido hasta: </b> </i><i id="valido-hasta"></i> </p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div style="margin:6px">
                        <button data-toggle="collapse" href="#info-add" aria-expanded="false" aria-controls="info-add" type="button" class="btn btn-primary"
                                aria-label="Left Align">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Más información
                        </button>
                        <div class="collapse multi-collapse" id="info-add"><br>
                           <p class="blanco"><i><b>Dirección: </b> </i><i id="direccion-local"></i> </p>
                            <p class="blanco"><i><b>Teléfono: </b> </i><i id="telefono-local"></i> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;margin-bottom:40px" >
        {{#if locales}}
            {{#each locales}}
                <div class="col-lg-3 col-md-4 col-sm-6 fondo-locales borde-redondo" style="margin-bottom:12px;border-style: solid; border-width: 1px; padding:6px;border-color:white">
                    <a href="javascript:detallar('{{this.codigo}}')">
                        <div class="imagen-index" style="margin:6px; background-size: 100% 100%; background-image: url('{{this.logotipo}}');">                
                        </div>          
                        <div class="caption" style="height:1%">
                            <div style="display:none">
                                <p id="di_loc">{{this.direccion}}</p>
                                <p id="tel_loc">{{this.telefono}}</p>
                                <p id="adic-loc">{{this.adicional}}</p>
                                <p id="img-ben">{{this.beneficio_img}}</p>
                            </div>
                            <h5 class="centrado"><b class="blanco" id="nom{{this.codigo}}">{{this.nombre}}</b></h5>
                            <p class="centrado blanco" id="benef-loc">{{this.beneficio}} % de descuento</p>   
                            <a class="borde-redondo"><button class="btn btn-primary" onclick="detallar('{{this.codigo}}')" style="width:100%;">Mas información</button></a>                         
                        </div>
                    </a>
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>
<script>
    window.addEventListener('load',()=>{
        document.getElementById('local-desc').style.display='none'
        document.getElementById('tarjeta-img').style.display='block'
    })
</script>
<script src="../especifico/scripts/index.js"></script>