<ul class="fondo-nav nav nav-tabs ">
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vendedor</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-vendedor/ingresar-vendedor">Añadir</a>
            <a class="dropdown-item" href="/admin-vendedor/modificar-vendedor">Modificar o eliminar</a>
            <a class="dropdown-item" href="/admin-vendedor/asignar-vendedor">Asignar tarjetas</a>
        </div>
    </li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Local</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-local/ingresar-local">Añadir</a>
            <a class="dropdown-item" href="/admin-local/modificar-local">Modificar o eliminar</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tarjeta</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-tarjetas/reg-tarj">Añadir</a>
            <a class="dropdown-item" href="/admin-tarjetas/mod-tarj">Modificar o eliminar</a>
            <a class="dropdown-item" href="/admin-tarjetas/regalar">Regalar tarjetas</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Usuarios</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-cliente/eliminar-usuario">Clientes</a>
            <a class="dropdown-item" href="/admin-cliente/vendedores">Vendedores</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-reportes/reporte-vendedor">Por vendedor</a>
            <a class="dropdown-item" href="/admin-reportes/reporte-referido">Por referido</a>
            <a class="dropdown-item" href="/admin-reportes/reporte-local">Por local</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin-home/slider">Home</a>
    </li>
</ul>
<div class="row margen">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="contenedor-bordes blanco">
            <div id="central-mensajes">
                {{#if success_msg}}
                <div class="centrado blanco mensaje-bien-sistema animated flash">
                    <h3>{{success_msg}}</h3>
                </div>
                {{/if}} {{#if error}}
                <div class="centrado blanco mensaje-error-sistema animated flash">
                    <h3>{{error}}</h3>
                </div>
                {{/if}}
                <div class="centrado blanco mensaje-bien-sistema" id="div-correcto" style="display:none; font-size:140%">

                </div>
                <div class="centrado blanco mensaje-error-sistema" id="div-error" style="display:none;font-size:140%"></div>
            </div>
            <h3 class="centrado ">Asignaciones de tarjetas </h3>
            <div class="form-group">

                <label for="">Vendedor</label>
                <p> Quitar el check para liberar tarjetas</p>
                <div class="input-group">
                    <select name="vendedor" id="todos_vendedores" class="form-control" onchange="filtroAsignacion()" id="">
                        <option value="NA">Todos</option>
                        {{#if vendedor}} {{#each vendedor}}
                        <option value="{{this.codigo}}">{{this.nombre}}</option>
                        {{/each}} {{/if}}
                    </select>
                    <span class="input-group-addon btn btn-primary" id="basic-addon1" onclick="Guardar_asignacion()">Liberar asignacion</span>
                    <span class="input-group-addon btn btn-warning" id="basic-addon1" onclick="imprimir('vista_impresion')">Imrpimir</span>
                </div>

            </div>
                <div class="row calibri" id="contenido-tarjetas" >
                {{#if tarjeta}}{{#each tarjeta}}
                <div class="tarjetas_asig col-lg-6 ol-md-6 TA{{this.vendedor}}">
                    <div style="border-bottom: 1px solid #FFCC66">
                         <label for="">
                            <input type="checkbox" class="vend{{this.vendida}}" name="asignadas" value="{{this.numero}}" id="" > 
                             Vendedor: 
                                <b class="cod_vend">{{this.vendedor}}</b>  
                            , Tarjeta Número: {{this.numero}} 
                        </label> 
                    </div>
                </div>
                {{/each}}{{/if}}
            </div>
        </div>
    </div>
</div>
<script src="../modular/codigo/admin.js"></script>
<script>
    window.addEventListener('load', ()=>{
        swal('Recuerde que quitar el check sirve para liberar la tarjeta')
        evitar_vendidos()
        obtener_nombre()
        checar_todos()
    })
</script> 