
<ul class="nav nav-tabs  fondo-nav">
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vendedor</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/ingresar-vendedor">Añadir</a>
            <a class="dropdown-item"  href="/admin/modificar-vendedor">Modificar o eliminar</a>
            <a class="dropdown-item" href="/admin/asignar-vendedor">Asignar tarjetas</a>
        </div>
    </li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Local</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/ingresar-local">Añadir</a>
            <a class="dropdown-item" href="/admin/modificar-local">Modificar o eliminar</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tarjeta</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/reg-tarj">Añadir</a>
            <a class="dropdown-item" onclick="cargando()" href="/admin/mod-tarj">Modificar o eliminar</a>
        </div>
    </li>
    <li class="nav-item dropdown active">
         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Usuarios</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/eliminar-usuario">Clientes</a>
            <a class="dropdown-item" href="/admin/vendedores">Vendedores</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/reporte-vendedor">Por vendedor</a>
            <a class="dropdown-item" href="/admin/reporte-usuario">Por usuario</a>
            <a class="dropdown-item" href="/admin/reporte-local">Por local</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/slider">Home</a>
    </li>
</ul>

<div class="row">
    <div class="col-lg-12">
        <div class=" contenedor-bordes ">
            <div id="central-mensajes">
                {{#if success_msg}}
                <div class="centrado blanco mensaje-bien-sistema animated flash">
                    <h3>{{success_msg}}</h3>
                </div>
                {{/if}} {{#if error}}
                <div class="centrado blanco mensaje-error-sistema animated flash">
                    <h3>{{error}}</h3>
                </div>
                {{/if}}
                <div class="centrado blanco mensaje-bien-sistema" id="div-correcto" style="display:none; font-size:140%">

                </div>
                <div class="centrado blanco mensaje-error-sistema" id="div-error" style="display:none;font-size:140%"></div>
            </div>
            <h3 class="blanco centrado">Clientes</h3>
            <div class="table table-responsive">
                <table class="table table-bordered">
                    <tr class="alert-primary">
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                        <th>Sector</th>
                        <th>Edad</th>
                        <th>Género</th>
                        <th>Email</th>
                        <th>Referido</th>
                        <th>Eliminar</th>
                    </tr>
                    {{#if usuarios}}
                        {{#each usuarios}}
                            <tr>
                                <td>{{this.cedula}}</td>
                                <td>{{this.nombre}}</td>
                                <td>{{this.telefono}}</td>
                                <td>{{this.direccion}}</td>
                                <td>{{this.sector}}</td>
                                <td>{{this.edad}}</td>
                                <td>{{this.genero}}</td>
                                <td>{{this.username}}</td>
                                <td>{{this.referido}}</td>
                                <td>
                                    <button type="button" onclick="eliminar_user(this.id)" class="btn btn-danger" id="{{this.codigo}}">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        {{/each}}
                    {{/if}}
                </table>
            </div>
        </div>
    </div>
</div>

<script src="../modular/codigo/admin.js"></script>