<div class="row">
    <div class="col-lg-6 col-md-6" style="padding-left:2%; padding-right:2%">
        <div class="centrado contenedor-bordesI">
            {{#if imagenes}}
            <div id="corousel-ben" class="carousel slide " data-ride="carousel">
                <div class="carousel-inner">
                    {{#each imagenes}}
                    <div class="carousel-item carro_img" style="padding-left:10%; padding-right:10%">
                        <img class="img-slider d-block w-100" src="{{this.imagen}}" alt="{{this.codigo}}">
                    </div>
                    {{/each}}
                </div>
                <a class="carousel-control-prev" style="background-color:rgba(000, 000, 000, 0.01)" href="#corousel-ben" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" style="background-color:rgba(000, 000, 000, 0.01)" href="#corousel-ben" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            {{/if}}
        </div>
        <div class="centrado contenedor-bordesI">
            <div class="" style="padding-left:20%; padding-right:20%">
                {{#if tarjetas}}
                <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
                    <div class="carousel-inner" >
                        {{#each tarjetas}}
                        <div class="carousel-item carro_trj" style="padding-left:13%; padding-right:13%">
                            <!--href="/tarjetas:{{this.codigo}}"-->
                            <a  href="#" >
                                <img class="img-slider d-block w-100 borde-redondo" src="{{this.imagen}}" alt="{{this.titulo}}">
                            </a>
                        </div>
                        {{/each}}
                    </div>
                    <a class="carousel-control-prev" style="background-color:rgba(000, 000, 000, 0)" href="#carouselExampleIndicators" role="button"
                        data-slide="prev">
                        <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" style="background-color:rgba(000, 000, 000, 0)" href="#carouselExampleIndicators" role="button"
                        data-slide="next">
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6" style="">
        <div id="central-mensajes" style="height:60px">
            {{#if success_msg}}
            <div class="centrado blanco mensaje-bien-sistema animated flash">
                <h3>{{success_msg}}</h3>
            </div>
            {{/if}} {{#if error}}
            <div class="centrado blanco mensaje-error-sistema animated flash">
                <h3>{{error}}</h3>
            </div>
            {{/if}}
            <div class="centrado blanco mensaje-bien-sistema" id="div-correcto" style="display:none; font-size:140%">

            </div>
            <div class="centrado blanco mensaje-error-sistema" id="div-error" style="display:none;font-size:140%"></div>
        </div>
        {{#if user}}
         <div class="contenedor-bordesI blanco">
             <h1 class="blanco centrado">VIDEOS INFORMATIVOS</h1>
            {{#if video}}
            <div id="corousel-vid" class="carousel slide " data-ride="">
                <div class="carousel-inner">
                    {{#each video}}
                    <div class="carousel-item carro_vid" style="padding-left:12%; padding-right:12%">
                         <iframe width="100%" id="espacio_video" height="315" src="{{this.url}}" frameborder="0" gesture="media" allow="encrypted-media"
                allowfullscreen></iframe>
                    </div>
                    {{/each}}
                </div>
                <a class="carousel-control-prev" style="background-color:rgba(000, 000, 000, 0.01)" href="#corousel-vid" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" style="background-color:rgba(000, 000, 000, 0.01)" href="#corousel-vid" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            {{/if}}
        </div>

        {{else}}
        <div class="blanco" id="" style="background-color:rgba(000, 000, 000, 0.5);padding:24px">
            <h1 class="centrado blanco calibri">REGISTRARTE</h1>
            <form class="form-signin cordia" action="/users/registro" style="font-size:150%" method="post" onsubmit="registro(event)">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" title="No se incluyen números" pattern="^[a-zA-ZñÑ\s\W]*" id="txtnombre" autofocus placeholder="Nombre (completo)"
                                class="form-control" required>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Edad</span>
                                <input type="number" step="1" value="18" min="18" max="150" id="txtedad" placeholder="Edad" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" id="txtsector" placeholder="Sector" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="email" id="txtcorreo" placeholder="Correo" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="password" title="La contraseña debe tener al entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula, al menos una mayúscula y al menos un caracter no alfanumérico."
                                minlength="8" id="txtpassword" placeholder="Contraseña" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input title="La contraseña debe tener al entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula, al menos una mayúscula y al menos un caracter no alfanumérico."
                                type="password" minlength="8" id="txtRpassword" placeholder="Repetir contraseña" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input  type="text" onload="vlidar()" onclick="validar()" onchange="validar()" onkeyup="validar()"
                                id="txtcedula" placeholder="Cédula" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Genero</span>
                                <select name="selgenero" id="generoSelector" class="form-control">
                                    <option value="M">Masculino</option>
                                    <option value="F">Femenino</option>
                                    <option value="N">Otro</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Referido</span>
                                <select name="referido" class="form-control" id="idreferido">
                                    <option value="Ninguno">Ninguno</option>
                                    {{#if referido}} {{#each referido}}
                                    <option value="{{this.nombre}}">{{this.nombre}}</option>
                                    {{/each}} {{/if}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="tel" pattern="^(09)[0-9]*" title="Ingreser un número de celular válido" id="txttelefono" minlength="10" maxlength="10"
                                placeholder="Teléfono" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtdireccion" placeholder="Dirección" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-warning nwarning btn-block"><b>REGISTRAR</b></button>
                    </div>
                </div>
            </form>
        </div>
        {{/if}}
    </div>
</div>
<script src="../modular/codigo/home.js"></script>
<script>
    window.addEventListener('load', () => {
        control_slider_beneficios()
        control_slider() 
        control_slider_videos()          
    })
</script>
<link rel="stylesheet" href="../modular/estilos/registro.css">
<script src="../modular/codigo/users.js"></script>
<link rel="stylesheet" href="../modular/estilos/home.css">
