<ul class="fondo-nav nav nav-tabs">
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vendedor</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-vendedor/ingresar-vendedor">Añadir</a>
            <a class="dropdown-item" href="/admin-vendedor/modificar-vendedor">Modificar o eliminar</a>
            <a class="dropdown-item" href="/admin-vendedor/asignar-vendedor">Asignar tarjetas</a>
        </div>
    </li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Local</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-local/ingresar-local">Añadir</a>
            <a class="dropdown-item" href="/admin-local/modificar-local">Modificar o eliminar</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tarjeta</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-tarjetas/reg-tarj">Añadir</a>
            <a class="dropdown-item" href="/admin-tarejtas/mod-tarj">Modificar o eliminar</a>
        </div>
    </li>
    <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Usuarios</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-cliente/eliminar-usuario">Clientes</a>
            <a class="dropdown-item" href="/admin-cliente/vendedores">Vendedores</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/reporte-vendedor">Por vendedor</a>
            <a class="dropdown-item" href="/admin/reporte-referido">Por referido</a>
            <a class="dropdown-item" href="/admin/reporte-local">Por local</a>

        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin-home/slider">Home</a>
    </li>
</ul>
<div class="row margen calibri">
    <div class="col-lg-1 col-md-1"></div>
    <div class="col-lg-10 col-md-10">
        <div class="contenedor-bordes blanco">
            <div id="central-mensajes">
                {{#if success_msg}}
                <div class="centrado blanco mensaje-bien-sistema animated flash">
                    <h3>{{success_msg}}</h3>
                </div>
                {{/if}} {{#if error}}
                <div class="centrado blanco mensaje-error-sistema animated flash">
                    <h3>{{error}}</h3>
                </div>
                {{/if}}
                <div class="centrado blanco mensaje-bien-sistema" id="div-correcto" style="display:none; font-size:140%">

                </div>
                <div class="centrado blanco mensaje-error-sistema" id="div-error" style="display:none;font-size:140%"></div>
            </div>
            <h3 class="centrado ">Modificar local</h3>
            <div class="input-group" style="margin-bottom:12px">
                <input id="filtro-buscar" type="text" onkeyup="filtro_locales()" class="form-control" placeholder="Buscar...">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </div>
            {{#if local}} {{#each local}}
            <div class="row locales-buscar" role="alert" style="border: solid 1px white; padding:12px; margin:12px">
                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8 centrado">
                    <img src="{{this.logotipo}}" style="border:solid 1px white" height="60px" alt="{{this.nombre}}">
                    <h4 class="busqueda">{{this.nombre}}</h4>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4" style="text-align:right">
                    <button id="{{this.codigo}}" onclick="modificar_local(this.id)" type="button" class="btn btn-primary" aria-label="Left Align">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                    <button id="{{this.codigo}}" onclick="eliminar_local(this.id)" type="button" class="btn btn-danger" aria-label="Left Align">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            {{/each}} {{/if}}
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="modal-modificar-local" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg calibri" role="document">
        <div class="modal-content blanco centrado" style="background-color:rgba(000, 000, 000, 0.9); border:solid 1px white">
            <div class="modal-header">
                <h5 class="modal-title centrado">Modificar local</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="blanco">&times;</span>
                </button>
            </div>
            
            <form style="margin:12px" action="/admin-local/modificar-local" method="post" enctype="multipart/form-data">
                <input type="text" name="codigo" id="codigo_local" style="display:none">
                <div class="row" style="margin-bottom:12px">
                    <div class="col-lg-3 col-sm-6">
                        <h4 class="centrado">Logotipo</h4>
                        <div id="poder form-signin">
                            <img src="../modular/imagenes/local.png" style="border:1px white solid" class="img-responsive" id="img_destino">
                        </div>
                        <div class="form-group">
                            <div class="div_file btn btn-info ">
                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                500 X 500
                                <input type="file" class="btn_enviar" id="file_url" accept="image/*" name="logotipo" onchange="alertaOferta(this,this.files[0].size)"
                                    />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h4 class="centrado">Beneficios</h4>
                        <div class="form-group">
                            <div class="div_file btn btn-info ">
                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                Selección múltiple
                                <input type="file" class="btn_enviar" multiple id="file_url1" accept=".jpg,.png," name="beneficios" onchange="alertaOferta1(this)"
                                    />
                            </div>
                            <div id="beneficios_desc" style="margin-top:4px">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3  col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-font"></i>
                                </span>
                                <input type="text" id="modificar_nombre_local" name="nombre" class="form-control" placeholder="Nombre del local" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-facebook"></i>
                                </span>
                                <input type="url" id="modificar_facebook_local" title="Ingrese http://" name="linkface" class="form-control" placeholder="Link de facebook" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-instagram"></i>
                                </span>
                                <input type="url" id="modificar_instagram_local" title="Ingrese http://" name="linkInst" class="form-control" placeholder="Link de instagram" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-google-maps"></i>
                                </span>
                                <input type="text" id="modificar_direccion_local" placeholder="Dirección" name="direccion" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-whatsapp"></i>
                                </span>
                                <input type="tel" id="modificar_telefono_local" placeholder="Teléfono" name="telefono" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-gps-dot"></i>
                                </span>
                                <input type="url" id="mapa_local" placeholder="Mapa de google" title="Ingrese http://" name="mapa" class="form-control"> 
                            </div>
                            <a href="/modular/imagenes/mapa.pdf">Instrucciones del mapa</a>
                        </div>
                    </div>
                    <div class="col-lg-3  col-sm-6">
                        <div class="form-group" title="Ingrese http://">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-globe"></i>
                                </span>
                                <input title="Ingrese http://" id="modificar_website_local" type="url" placeholder="Sitio web" name="website" class="form-control">
                            </div>
                        </div>
                        <div class="form-group" title="Horario">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-lock-open"></i>
                                </span>
                                <input type="text" id="modificar_horario_local" placeholder="Horario" name="horario" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-email"></i>
                                </span>
                                <input type="email" class="form-control" id="modificar_email_local"  name="username" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-warning" style="width:100%">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Aceptar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../modular/codigo/admin.js"></script>